<nav class="navbar" [ngClass]="theme.nav$ | async">
  <img class="logo" src="../../../assets/images/LogoWolox-Original.png" alt="wolox-brand">
  <div class="themeSelector">
    <label for="theme">Theme</label>
    <select 
      name="theme"
      class="selector"
      (change)="changeTheme()"
      [formControl]="themeSelector"
    >
      <option value="primary">Primary</option>
      <option value="sky">Sky</option>
      <option value="ghost">Ghost</option>
      <option value="grass">Grass</option>
    </select>
  </div>
</nav>
